body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    gap: 20px;
}

.prompt, .map{
    transition: filter .1s linear;
}

@media screen and (max-width: 1024px){
  body{
    top: 0px !important;
    flex-direction: column-reverse;
    justify-content: start; 
    align-items: center;
    overflow: auto;
  }

  .map{
    width: 100vw !important;
    height: 100vw !important;
  }

  .prompt{
    width: 90vw;
    height: auto;
  }

  .prompt__content__title h1{
    margin-bottom: -25px;
    font-size: 10vw !important;
  }

  .user__inputs{
    max-height: 140px !important;
    margin-top: -20px;
  }

  .help, .account, .results, .cmd-list, .quiz{
    width: 80% !important;
    height: 70% !important;
    overflow: auto;
  }
}

.prompt__content__title h1{
  margin-bottom: -25px;
  font-size: 4em;
}

.map {
    position: relative;
    width: 100vh; /* Largeur égale à la hauteur de l'écran */
    height: 100vh; /* Hauteur égale à la hauteur de l'écran */
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /*Pour que le contenu démarre en haut */
}

.map svg{
  width: 100%;
  height: 100%;
}


#input{
  padding: 6px;
  width: 90%;
  font-size: 14px;
  border-width: 4px;
  border-color: #2E8743;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 13px;
  box-shadow: 0px 0px 0px rgba(66,66,66,.75);
  text-shadow: 0px 0px 0px rgba(66,66,66,.0);
  box-shadow: #53FF38 inset 0px 0px 15px;
  transition: 
  box-shadow 0.15s ease-in-out,
  border-color 0.15s ease-in-out;
}

#input:focus{
  border-color: #FF9348;
  box-shadow: #FFB63E inset 0px 0px 15px;
  outline: none;
}

#compteur{
  font-size: 2em;
}

.user__inputs__title{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

#question, #user, #map, #cmd, #quiz{
  width: 45px;
  height: 45px;
}

.pointer{
  cursor: pointer;
}

#question:hover, #user:hover, #map:hover, #cmd:hover{
  cursor: pointer;
}

.user__inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  border: #a0a0a0 solid 2px;
  border-radius: 7px;
  max-height: 200px;
  gap: 5px;
  padding: 10px 0;
}

.user__inputs__content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  width: 90%;
  border: #000000 solid 2px;
  border-radius: 3px;
  padding-left: 5px;
  height: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.help, .account, .results, .cmd-list, .quiz{
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: #fff;
  padding: 0 20px 20px 20px;
  border: #a0a0a0 solid 10px;
  border-radius: 10px;
  visibility: hidden;
  cursor: default;
  box-shadow: 0px 0px 10px rgb(66,66,66);
  transition: top .5s ease-in-out;
  overflow: auto;
}



.results{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results h1{
  font-size: 2.5em;
}
#results-text{
  font-size: 1.8em;
}

#account-average{
  font-size: 2.5em;
}

.account-data{
  font-size: 1.5em;
}

.help img, .account img, .results img, .cmd-list img, .quiz img{
  width: 45px;
  height: 45px;
  position: inherit;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

button {
	box-shadow: 3px 4px 0px 0px #1564ad;
	background-color:#378de5;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}

/* quiz */

.quiz-score-display{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
}

#quiz-question, #quiz-score, #quiz-best-score{
  font-weight: lighter;
}

.correct-answer{
  background-color: #53FF38;
  box-shadow: #2E8743 3px 4px 0px 0px;
  color: #184723;
  text-shadow:0px 0px 0px;
  border:1px solid #2E8743;
}

.wrong-answer{
  background-color: #FF3D3D;
  box-shadow: #7e0000 3px 4px 0px 0px;
  color: #7e0000;
  text-shadow:0px 0px 0px;
  border:1px solid #7e0000;
}

.unselected-answer{
  background-color: #d3d3d3;
  box-shadow: #6e6e6e 3px 4px 0px 0px;
  color: #6e6e6e;
  text-shadow:0px 0px 0px;
  border:1px solid #6e6e6e;
}

.answer-cash, .answer-carre, .answer-50-50{
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.answer-options{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
/*******************/

@keyframes shake {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(1.5em);
    }
    40% {
      transform: translate(-1.5em);
    }
    60% {
      transform: translate(1.5em);
    }
    80% {
      transform: translate(-1.5em);
    }
    100% {
      transform: translate(0);
    }
}

.shake{
  border-color: #FF3D3D !important;
  box-shadow: #FF3D3D inset 0px 0px 15px !important;
  animation: shake 0.5s ease-in-out;
}

.valid, .invalid{
  transition: box-shadow 0.1s ease-out !important;
  transition:  border-color 0.1s ease-out !important;
}

.valid{
  border-color: #2E8743 !important;
  box-shadow: #53FF38 inset 0px 0px 15px !important;
}

.invalid{
  border-color: #FF3D3D !important;
  box-shadow: #FF3D3D inset 0px 0px 15px !important;
}

.invalid::placeholder{
  color: #7e0000 !important;
}

